extends layout

block content
    #band
        #tools
            button#btn refresh markers
            span
                select#companyTypesSelect
                select#SNICodesSelect
        #file-uploader
    #map
