extends layout

block content
    #band
        #file-uploader
        #tools
            button#btn refresh markers
            span
                select#companyTypesSelect
                input(type="checkbox", id="SNICodesLinkedCB", checked=true)
                label(for="SNICodesLinkedCB") SNI Linked
                select#SNICodes1Select
                select#SNICodes2Select
                select#SNICodes3Select
                select#SNICodes4Select
                select#SNICodes5Select
    #map
