extends layout

block content
    #band
        #file-uploader
        #tools
            button#btn refresh markers
            span
                select#companyTypesSelect
                input(type="checkbox", id="SNICodesLinkedCB", checked=true)
                label(for="SNICodesLinkedCB") SNI Linked
                select#SNICodes1Select
                select#SNICodes2Select
                select#SNICodes3Select
                select#SNICodes4Select
                select#SNICodes5Select
            span#loadingspan
                img(src="images/loading.gif")
                | Loading markers
            div
                input(type="checkbox", id="branchesLinkedCB")
                label(for="branchesLinkedCB") Branches Linked
                select#branchMainSelect
                select#branchSub1Select
                select#branchSub2Select
    #map
