extends layout

block content
    #band
        #file-uploader
        #tools
            button#btn refresh markers
            span
                select#companyTypesSelect
                select#SNICodes1Select
                select#SNICodes2Select
                select#SNICodes3Select
                select#SNICodes4Select
                select#SNICodes5Select
    #map
