doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
  body
    block content
    script(type='text/javascript', src='/javascripts/leaflet.js')
    //script(type='text/javascript', src='/javascripts/leaflet-providers-0.0.1.js')
    script(type='text/javascript', src='/javascripts/app.min.js')
